* {
    box-sizing: border-box;
    font-family: "VT323", monospace;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #008080;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 5px;
    font-size: 3em;
}

h2 {
    margin: 5px;
    font-size: 2em;
}

.window {
    font-family: "VT323", monospace;
    width: 90%;
    height: 80vh; /* fixed height */
    background-color: #c3c3c3;
    border: solid 2px;
    border-color: #fdffff black black #fdffff;
    display: flex;
    flex-direction: column;
}


.windowhead {
    font-family: "VT323", monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0827f5;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    border: solid 2px;
    border-color: #fdffff black black #fdffff;
}

.welcometext {
    font-size: 21px;
}

.exitbuttonhead {
    display: flex;
    align-items: center;
}

.exitbutton {
    background-color: #c3c3c3;
    color: black;
    border: solid 2px;
    border-color: #fdffff black black #fdffff;
    padding: 3px 7px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.exitbutton:hover {
    background-color: #929292;
    color: white;
    border: solid 2px;
    border-color: black #fdffff #fdffff black;
}

.windowmain {
    margin: 5px;
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    border: solid 2px;
    border-color: black #fdffff #fdffff black;
    background-color: white;
}

.navbar {
    padding-top: 5px;
    display: flex;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    position: relative;
    margin: 0 15px;
}

.nav-item a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-item a:hover {
    color: #fdffff;
}

.submenu {
    display: none;
    position: absolute;
    width: 8vw;
    top: 100%;
    left: 0;
    background-color: #c3c3c3;
    border: 2px solid;
    border-color: #fdffff black black #fdffff;
    list-style: none;
    margin: 0;
    padding: 0;
}

.submenu-item {
    margin: 0;
}

.submenu-item a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.submenu-item a:hover {
    background-color: #929292;
}

.nav-item:hover .submenu {
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #c3c3c3;
    color: #000000;
    border: 2px solid;
    border-color: #fdffff black black #fdffff;
    cursor: pointer;
}

button:hover {
    background-color: #818181;
    color: white;
    border-color: #fdffff black black #fdffff;
}

.content {
    flex: 1;
}

.taskbar {
    position: fixed;
    height: 8vh;
    bottom: 0;
    width: 100%;
    background-color: #c3c3c3;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px;
    border-color: #fdffff black black #fdffff;
    padding: 0 10px;
    box-sizing: border-box;
}


.copyright {
    font-size: 1.5em;
    text-align: center;
}

.videoimg {
    width: 30vw;
    border: solid 2px;
    border-color: #d1d1d1 black black #d1d1d1;
}

.videos, .videobutton, .videotext {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    text-align: center;
}

